!!!
%html
%head
  %title WorkoutLog
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  %nav.navbar.navbar-default
    .container
      .navbar-header
        =link_to "Sloth Workout Log", root_path, class: "navbar-brand"
      .nav.narbar-nav.navbar-right
        =link_to "New Workout", new_workout_path, class: "navbar-text navbar-right"
  .container
    = yield